.container {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: left;
}

.container h2 {
  font-size: 1rem;
}

.container a {
  font-size: 1.4rem;
}

.container span.dices {
  font-size: 1rem;
  display: inline;
}

.container span.dices input {
  font-size: 1.2rem;
  border: none;
  background-color: transparent;

  /* color: white; */
  display: inline;
  text-align: right;
}

.container span.dices input.count {
  width: 2.5rem;
}

.container span.dices input.type {
  width: 5rem;
}

.container span.total {
  font-size: 1.2rem;
}

.container ul.each {
  display: inline;
  padding-left: 0.5rem;
}

.container ul.each::before {
  content: "(";
}

.container ul.each::after {
  content: ")";
}

.container .each li {
  display: inline-block;
}

.container .each li:not(:last-child)::after  {
  content: "+";
  padding-left: 2px;
  padding-right: 2px;
}

.container .rolls {
  position: absolute;
  bottom: 40px;
  height: 20px;
  width: 100%;
  text-align: center;
}
